*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Gotham Rounded", sans-serif;
}

body {
  background: linear-gradient(to right, rgb(4, 149, 28), rgb(0, 94, 17));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  max-width: 90%;
  width: 1200px;
  background-color: white;
  box-shadow: 0 5px 10px black;
  border-radius: 5px;
}

.content {
  padding: 40px;
  margin-top: 50px;
}

.header {
  background-color: #000;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.iconContainer {
  position: relative;
  top: 70px;
  padding: 5px;
  background-color: white;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.generalInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.status {
  font-size: 3rem;
  font-weight: bold;
}

.location {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 10px;
}

.detailSection {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  padding: 20px;
}

.detail.bordered {
  border-left: 1px solid #777;
  border-right: 1px solid #777;
}

.detail .title {
  font-size: 2rem;
  flex-grow: 1;
  font-weight: bold;
  color: #777;
}

.detail .value {
  font-size: 2rem;
  margin-top: 20px;
}

.citySearch {
  display: flex;
  justify-content: center;
}

.searchBox {
  margin-top: 70px;
  font-size: 2rem;
  outline: none;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
}

.pac-item {
  font-size: 2rem;
  padding: 10px 10px;
}

.pac-icon {
  display: none;
}

.pac-item-query {
  font-size: 2rem;
  padding-right: 14px;
}

.madeBy {
  position: absolute;
  top: 100vh;
  transform: translateY(-100%);
  width: 100%;
  color: #fff;
}

.header {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  align-items: center;
}
.header .siteName {
  color: white;
  margin-bottom: -50px;
  font-size: 26px;
  letter-spacing: 3px;
}
.madeBy {
  position: absolute;
  bottom: 0px;
  transform: initial;
  text-align: right;
  padding: 6px 8px;
  top: initial;
}

.header .siteName {
  color: white;
  margin-bottom: -50 px;
  letter-spacing: 3px;
}

@media (max-width: 1000px) {
  .detailSection {
    display: block !important;
  }
  .container {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
